<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>


	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="search" 		type="com.storm.common.Search" />
		<typeAlias alias="user" 		type="com.storm.service.domain.User" />
		<typeAlias alias="chulCheck" 		type="com.storm.service.domain.ChulCheck" />
		<typeAlias alias="fence" 		type="com.storm.service.domain.Fence" />
		<typeAlias alias="community" 	type="com.storm.service.domain.Community" />
	</typeAliases>
	
	<!--  마이바티스가 파라미터를 PreparedStatement에 세팅하거나, resultSet으로 부터 값을 추적할 때마다 타입핸들러는 맞은 자바 타입의 값을 추적하기 위해 쓰임-->
	<typeHandlers>
        <typeHandler handler="com.storm.common.handler.ClobHandler" javaType="String" jdbcType="CLOB"/>
    </typeHandlers>
		
	<mappers>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/ChulCheckMapper.xml"/>
		<mapper resource="sql/CommunityMapper.xml"/>
		<mapper resource="sql/FenceMapper.xml"/>
	</mappers>


</configuration>